<h1>Tus resultados son:</h1>

<br>

<% if @question.p1 > @question.p2 && @question.p1 > @question.p3 %>
  <a> Tu MEJOR opción es FRONT</a>
<% end %>

<% if @question.p2 > @question.p1 && @question.p2 > @question.p3 %>
  <a> Tu MEJOR opción es FULLSTACK</a>
<% end %>

<% if @question.p3 > @question.p2 && @question.p3 > @question.p1 %>
  <a> Tu MEJOR opción es CIENCIA DE DATOS</a>
<% end %>

<br>

<% if @question.p1 > @question.p2 && @question.p2 > @question.p3 %>
  <a> Tu SEGUNDA opción es FULLSTACK</a>
<% end %>

<% if @question.p3 > @question.p2 && @question.p2 > @question.p1 %>
  <a> Tu SEGUNDA opción es FULLSTACK</a>
<% end %>

<% if @question.p2 > @question.p1 && @question.p1 > @question.p3 %>
  <a> Tu SEGUNDA opción es FRONT</a>
<% end %>

<% if @question.p3 > @question.p1 && @question.p1 > @question.p2 %>
  <a> Tu SEGUNDA opción es FRONT</a>
<% end %>

<% if @question.p1 > @question.p3 && @question.p3 > @question.p2 %>
  <a> Tu SEGUNDA opción es CIENCIA DE DATOS</a>
<% end %>

<% if @question.p2 > @question.p3 && @question.p3 > @question.p1 %>
  <a> Tu SEGUNDA opción es CIENCIA DE DATOS</a>
<% end %>

<br>

<% if @question.p3 > @question.p2 && @question.p2 > @question.p1 %>
  <a> Tu TERCERA opción es FRONT</a>
<% end %>

<% if @question.p2 > @question.p3 && @question.p3 > @question.p1 %>
  <a> Tu TERCERA opción es FRONT</a>
<% end %>

<% if @question.p3 > @question.p1 && @question.p1 > @question.p2 %>
  <a> Tu TERCERA opción es FULLSTACK</a>
<% end %>

<% if @question.p1 > @question.p3 && @question.p3 > @question.p2 %>
  <a> Tu TERCERA opción es FULLSTACK</a>
<% end %>

<% if @question.p1 > @question.p2 && @question.p2 > @question.p3 %>
  <a> Tu TERCERA opción es CIENCAS DE DATOS</a>
<% end %>

<% if @question.p2 > @question.p1 && @question.p1 > @question.p3 %>
  <a> Tu TERCERA opción es CIENCIAS DE DATOS</a>
<% end %>
