<h1>Tus resultados son:</h1>

<br>

<% back = @question.p3 + @question.p4 + @question.p6 %>
<% front = @question.p1 + @question.p2 + @question.p4 %>
<% full = @question.p4 + @question.p7 + @question.p10 %>
<% cd = @question.p5 + @question.p6 + @question.p9 %>
<% apps = @question.p8 + @question.p10 + @question.p4 %>
<% @vec = [[back, "DESARROLLADOR BACKEND"], [ front, "DESARROLLADOR FRONTEND"], [full, "DESARROLLADOR FULLSTACK"], [apps, "DESARROLLADOR DE APPS MOVILES"], [cd, "CIENCIA DE DATOS"]] %>
<br>
<% @organizador = @vec.sort_by {|z| z.first} %>
<br>
<% @final = @organizador.map(&:last) %>
<br>
<a>PRIMER PUESTO</a>
<br>
<a> Tu MEJOR opción es </a><%= @final[4]  %>
<br>
<br>
<a>SEGUNDO PUESTO</a>
<br>
<a> Tu SEGUNDA opción es </a><%= @final[3]  %>
<br>
<br>
<a>TERCER PUESTO</a>
<br>
<a> Tu TERCERA opción es </a><%= @final[2]  %>
