<Div class ="container" >
<h1 class ="login">Academias</h1>


<ul>
  <% @educationcenters.each do |center| %>
    <h1 class= "titulo-education-center"><%= center.name %></h1> <%= link_to "Ver", education_center_path(center.id) %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.lewagon.com/default_meta_image.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.canal-ar.com.ar/noticias/images/c_lewagon_150218_r.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://dwj199mwkel52.cloudfront.net/assets/core/social/events-global-card-5719bfa51f5b5457624fb646de65a3d7de48c3a1f37bd0631264f0c72a121737.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  <% end %>
</ul>
<div class ="ctn-boton">
<%= link_to "Agregar nueva academia" , new_education_center_path, class: "myButton"%>
</div>

</Div>
