<h1>Academias</h1>

<ul>
  <% @educationcenters.each do |center| %>
    <li><%= center.name %> <%= link_to "Ver", education_center_path(center.id) %></li>
  <% end %>
</ul>

<%= link_to "Agregar nueva academia" , new_education_center_path, class: "btn btn-primary"%>
