
<div class= "container">
  <div class="row" >

    <div class= "main-container col-9">
      <div class = "logo-container">
        <img class= "logo" src="https://images.vexels.com/media/users/3/166440/isolated/preview/ddaf323ea5ed30054ba4a894f9aa13d7-silueta-de-gorro-de-birrete.png" alt="LOGO" width="20%" heigth="50%">
        <h1 class ="first-choice">First Choice</h1>
      </div>
      <div class="form-group">
        <form>

          <input type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Search for a Bootcamp">

        </form>
      </div>
      <p class ="parrafos"> Encuentra los mejores centros de estudio que se acomoden a tu futuro! Aqui podras hallar que estudiar y donde hacerlo, asi que no te preocupes mas por la indecision de tu futuro tecnologico, encuentra tus afinidades y compatibilidades a la hora de estudiar y empieza a codear !</p>


    </div>
    <div class= "image-container col-3">
      <img src="https://www.becas-santander.com/es/blog/que-es-un-bootcamp/_jcr_content/root/container/responsivegrid/image_1687164195.coreimg.jpeg/1639150827182/que-es-un-bootcamp.jpeg" alt="foto" width="100%" heigth="100%" >
    </div>
  </div>
  </div>
  <div class= "button-container">
      <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #6B64F6;">
          <!-- Grid container -->
          <div class="footer-container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3" style="color: #ffffff">Register for free </span>
                <button type="button" class="btn btn-outline-light btn-rounded" id="myButton" style="margin: 25px">
                  Sign up!
                </button>
                <button type="button" class="btn btn-outline-light btn-rounded" id="myButton">
                  Test Rapido
                </button>
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © First Choice
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </section>


  </div>

</div>
