
<div class= "container" >

  <div class= "main-container">
    <h1 class ="first-choice">First Choice</h1>
    <p class ="parrafos">Find me in app/views/pages/home.html.erb</p>









  </div>


  <div class= "button-container">



  </div>

</div>
