
<div class= "container" >

  <div class= "main-container">
    <img class= "logo" src="https://images.vexels.com/media/users/3/166440/isolated/preview/ddaf323ea5ed30054ba4a894f9aa13d7-silueta-de-gorro-de-birrete.png" alt="LOGO" style="width:128px;height:128px" >
    <h1 class ="first-choice">First Choice</h1>
    <p class ="parrafos">Lorem ipsum dolor sit amet. Cum facere commodi in veniam quod cum sapiente consequatur ut illo veniam a soluta placeat est tenetur nisi qui accusantium veniam! Non esse accusamus vero laudantium cum necessitatibus sequi non veniam nihil? Aut magnam alias hic quas velit ut galisum vitae ex minima labore ea dicta ipsam est quisquam nihil non assumenda quae! Aut suscipit labore id natus quia ex aperiam consequatur 33 impedit perspiciatis id veniam minima eum dolorum consequuntur a alias nesciunt! Aut alias voluptatibus ut aliquam provident aut mollitia molestiae ea illo porro vel internos consequatur et facilis cumque est sapiente unde. Et molestiae omnis 33 explicabo quos quo velit unde ex expedita velit! Ut voluptatum esse quo nobis molestiae ut rerum galisum eos atque quasi sed magnam natus.</p>

  </div>


  <div class= "button-container">
      <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #0a4275;">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                  Sign up!
                </button>
                <button type="button" class="btn btn-outline-light btn-rounded">
                  Test Rapido
                </button>
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © First Choice
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </section>


  </div>

</div>
