p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: justify;

  }


.parrafos-academia{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: justify;
  margin-left: 20px;
  }


  .lista {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: -0.4px;
    word-spacing: 2px;
    color: #000000;
    font-weight: lighter;
    text-decoration: none solid rgb(0, 0, 0);
    font-variant: normal;
    text-transform: none;
    text-align: justify;
    margin-left: 20px;
    }
