p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: left;

  }


.parrafos-academia{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  }


  .parrafos-academia1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: -0.4px;
    word-spacing: 2px;
    color: #000000;
    font-weight: lighter;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: normal;
    text-transform: none;
    text-align: left;
    margin-left: 20px;
    }

  .parrafos-link{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: left;


  }
  .lista {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: -0.4px;
    word-spacing: 2px;
    color: #000000;
    font-weight: lighter;
    text-decoration: none solid rgb(0, 0, 0);
    font-variant: normal;
    text-transform: none;
    text-align: left;
    margin-left: 50px;
    }



    .p-cards{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 17px;
      letter-spacing: -0.4px;
      word-spacing: 2px;
      color: #ffffff;
      font-weight: lighter;
      text-decoration: none solid rgb(68, 68, 68);
      font-variant: normal;
      text-transform: none;
      text-align: left;
      margin-left: 20px;
      margin-right: 20px;
      }


      .h-cards{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: #ffffff;
        font-weight: bolder;
        margin-left: 20px;
      }

      .h-cards2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: #ffffff;
        font-weight: bolder;
        margin-left: 25px;
      margin-top: 30px;     }

.container1{
  margin-left:300px ;
  margin-right: 300px;
}
.p-cards1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: left;
  margin-left: 20px;
  }
  .p-cards2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: -0.4px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: lighter;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: normal;
    text-transform: none;
    text-align: left;
    margin: 30px;
    }


  .h-cards1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
  }


  .parrafos420{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 2px;
  color: #000000;
  font-weight: lighter;
  text-decoration: none solid rgb(68, 68, 68);
  font-variant: normal;
  text-transform: none;
  text-align: left;
  margin-right: 30px;
  }
