<p><%= review.rating %></p>
<p><%= review.statement %></p>

<%= link_to "Edit", edit_education_center_review_path(review.education_center, review) %>
<%= link_to "Delete", education_center_review_path(review.education_center, review), method: :delete, data: {
  confirm: "Are you sure?"} %>
